node_modules
dist
build
.output
coverage
.turbo
.cache
.expo
.expo-shared
.github
**/routeTree.gen.ts
**/*.tsbuildinfo
**/supabase/.branches
**/supabase/.temp
pnpm-lock.yaml
bun.lockb
package-lock.json
yarn.lock
**/index.html
