# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# iOS
ios/
Pods/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata

# Android
android/
*.iml
.gradle
local.properties
*.hprof
.cxx/
*.keystore
!debug.keystore

# Node
node_modules/
npm-debug.log
yarn-error.log

# macOS
.DS_Store

# Temporary files
*.swp
*.swo
*~
.tmp/

expo-env.d.ts

# @generated expo-cli sync
